*{
    margin: 0;

}


#main_menu{
    background-color: #8e44ad;
}


#main_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#main_menu li{
    display: inline-block;
    position: relative;
}
#main_menu li a{
    display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}


#main_menu li a:hover{
    background-color: #3498db;
}

#main_menu ul ul{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    display: none;
}


#main_menu ul ul li{
    background-color: #e74c3c;
    display: block;
}


#main_menu ul ul li a:hover{
    background-color: rgb(211, 231, 60);
}
#main_menu ul li :hover ul{
    background-color: rgb(211, 231, 60);
    
}


#main_menu ul li:hover a{
    background-color: rgb(231, 66, 60)
}



/* #main_menu ul ul{
    display: none;
} */
